SHODAN_API_KEY="YOUR_SHODAN_API_KEY_HERE"
FOFA_EMAIL="YOUR_FOFA_EMAIL_HERE"
FOFA_API_KEY="YOUR_FOFA_API_KEY_HERE"
CENSYS_API_ID="YOUR_CENSYS_API_ID_HERE"
CENSYS_API_SECRET="YOUR_CENSYS_API_SECRET_HERE"
